 <%= render "shared/flash_messages" %>
<div class="container-fluid">
<div class= "row">
  <div class="home_content_left col-md-3">
    <%= render "shared/side_menu" %>
  </div>
  
  <div class="home_content_right col-md-9">
  <h1>ユーザー一覧</h1>
  <% @users.each do |u| %>
  <p><a href="/users/<%= u.id %>"><%= u.nickname %>さん</a></p>
  <hr>
  <% end %>
    <div class="profile_box row">
      <div class="profile_box_left col-md-3">
        <div class="circle">
          <div class="circle_title">ニックネーム</div>
          <div class="circle_name">○○</div>
        </div>
      </div>
      <div class="profile_box_right">
        <div class="row">
          <div class="profile_status col-md-4">
            <div>フォロー数
              <span class="profile_status_score">0</span>
              <span>人</span>
            </div>
          </div>

          <div class="profile_status col-md-4">
            <div>フォロワー数
              <span class="profile_status_score">0</span>
              <span>人</span>
            </div>
          </div>

          <div class="profile_status col-md-5">
            <div>ポジション
              <span class="profile_status_position">セッター</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
    
    
    <h3>募集チームをみてみよう</h3>
    <div class=tags-list>
      <ul>
        <li>
          <a href= "#" class="#"><i class="">
          </i>ウイングスパイカー</a>
        </li>
        <li>
          <a href= "#" class="#"><i class="#">
          </i>ミドルブロッカー</a>
        </li>
        <li>
          <a href= "#" class="#"><i class="#">
          </i>セッター</a>
        </li>
        <li>
          <a href= "#" class="#"><i class="#">
          </i>オポジット</a>
        </li>
        <li>
          <a href= "#" class="#"><i class="#">
          </i>リベロ</a>
        </li>
        <li>
          <a href= "#" class="#"><i class="#">
          </i>平日</a>
        </li>
        <li>
          <a href= "#" class="#"><i class="#">
          </i>休日</a>
        </li>
        <li>
          <a href= "#" class="#"><i class="#">
          </i>いつでも</a>
        </li>
      </ul>
    </div>

    
      <div class="timeline_title col-md-11 ">
        <a href="#">タイムラインに投稿してみよう</a>
      </div>
      <div class="tag_link">
        <a href="#">#チーム募集</a>
        <a href="#">#プレイヤー募集</a>
        <a href="#">#初心者歓迎</a>
        <a href="#" class="rounded-pill">#経験者募集中</a>
      </div>

      <div class="timeline row">
        <div class="home_timeline_box col">
          <div class="timeline_requestHeader">
            <div class="timeline_requestHeader_title">
              <a href="#" class="font-bold">[タイトル]</a>
            </div>
            <div class="timeline_requestHeader_tag">
              <a href="#">タグ</a>
            </div>
            <div class="timeline_requestHeader_face">
              <a href="#">画像</a>
            </div>
            <div class="timeline_requestHeader_name">
              <a href="#">名前</a>
            </div>
            <div class="created_time">
              <span class="#">created_at</span>
            </div>
          </div>
        </div>

        <div class="home_timeline_box col">
          <div class="timeline_requestHeader">
            <div class="timeline_requestHeader_title">
              <a href="#" class="font-bold">[タイトル]</a>
            </div>
            <div class="timeline_requestHeader_tag">
              <a href="#">タグ</a>
            </div>
            <div class="timeline_requestHeader_face">
              <a href="#">画像</a>
            </div>
            <div class="timeline_requestHeader_name">
              <a href="#">名前</a>
            </div>
            <div class="created_time">
              <span class="#">created_at</span>
            </div>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="home_timeline_box col">
          <div class="timeline_requestHeader">
            <div class="timeline_requestHeader_title">
              <a href="#" class="font-bold">[タイトル]</a>
            </div>
            <div class="timeline_requestHeader_tag">
              <a href="#">タグ</a>
            </div>
            <div class="timeline_requestHeader_face">
              <a href="#">画像</a>
            </div>
            <div class="timeline_requestHeader_name">
              <a href="#">名前</a>
            </div>
            <div class="created_time">
              <span class="#">created_at</span>
            </div>
          </div>
        </div>

        <div class="home_timeline_box col">
          <div class="timeline_requestHeader">
            <div class="timeline_requestHeader_title">
              <a href="#" class="font-bold">[タイトル]</a>
            </div>
            <div class="timeline_requestHeader_tag">
              <a href="#">タグ</a>
            </div>
            <div class="timeline_requestHeader_face">
              <a href="#">画像</a>
            </div>
            <div class="timeline_requestHeader_name">
              <a href="#">名前</a>
            </div>
            <div class="created_time">
              <span class="#">created_at</span>
            </div>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="home_timeline_box col">
          <div class="timeline_requestHeader">
            <div class="timeline_requestHeader_title">
              <a href="#" class="font-bold">[タイトル]</a>
            </div>
            <div class="timeline_requestHeader_tag">
              <a href="#">タグ</a>
            </div>
            <div class="timeline_requestHeader_face">
              <a href="#">画像</a>
            </div>
            <div class="timeline_requestHeader_name">
              <a href="#">名前</a>
            </div>
            <div class="created_time">
              <span class="#">created_at</span>
            </div>
          </div>
        </div>

        <div class="home_timeline_box col">
          <div class="timeline_requestHeader">
            <div class="timeline_requestHeader_title">
              <a href="#" class="font-bold">[タイトル]</a>
            </div>
            <div class="timeline_requestHeader_tag">
              <a href="#">タグ</a>
            </div>
            <div class="timeline_requestHeader_face">
              <a href="#">画像</a>
            </div>
            <div class="timeline_requestHeader_name">
              <a href="#">名前</a>
            </div>
            <div class="created_time">
              <span class="#">created_at</span>
            </div>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="home_timeline_box col">
          <div class="timeline_requestHeader">
            <div class="timeline_requestHeader_title">
              <a href="#" class="font-bold">[タイトル]</a>
            </div>
            <div class="timeline_requestHeader_tag">
              <a href="#">タグ</a>
            </div>
            <div class="timeline_requestHeader_face">
              <a href="#">画像</a>
            </div>
            <div class="timeline_requestHeader_name">
              <a href="#">名前</a>
            </div>
            <div class="created_time">
              <span class="#">created_at</span>
            </div>
          </div>
        </div>

        <div class="home_timeline_box col">
          <div class="timeline_requestHeader">
            <div class="timeline_requestHeader_title">
              <a href="#" class="font-bold">[タイトル]</a>
            </div>
            <div class="timeline_requestHeader_tag">
              <a href="#">タグ</a>
            </div>
            <div class="timeline_requestHeader_face">
              <a href="#">画像</a>
            </div>
            <div class="timeline_requestHeader_name">
              <a href="#">名前</a>
            </div>
            <div class="created_time">
              <span class="#">created_at</span>
            </div>
          </div>
        </div>

      </div>
      <a href="#">もっとみる</a>
    

    <h3>人気のチームから探す</h3>
    <div class="topteam_list row">
      <div class="topteam_list_card col">
        <div class="topbox">
          <div class="team_image">
            <a href="#">png</a>
          </div>
          <div class="name">
            <a href="#">長野VBクラブ</a>
          </div>
          <div class="detail">
            <div class="title">
              <a href="#">チームメンバー募集しています</a>
            </div>
          </div>
        </div>
      </div>

      <div class="topteam_list_card col">
        <div class="topbox">
          <div class="team_image">
            <a href="#">png</a>
          </div>
          <div class="name">
            <a href="#">長野VBクラブ</a>
          </div>
          <div class="detail">
            <div class="title">
              <a href="#">チームメンバー募集しています</a>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100"></div>

      <div class="topteam_list_card col">
        <div class="topbox">
          <div class="team_image">
            <a href="#">png</a>
          </div>
          <div class="name">
            <a href="#">長野VBクラブ</a>
          </div>
          <div class="detail">
            <div class="title">
              <a href="#">チームメンバー募集しています</a>
            </div>
          </div>
        </div>
      </div>

      <div class="topteam_list_card col">
        <div class="topbox">
          <div class="top_image">
            <a href="#">png</a>
          </div>
          <div class="name">
            <a href="#">長野VBクラブ</a>
          </div>
          <div class="detail">
            <div class="title">
              <a href="#">チームメンバー募集しています</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a href="#">もっとみる</a>

    <h3>人気のプレイヤーから探す</h3>
    <div class="topplayer_list row">

      <div class="topplayer_list_card col">
        <div class="topbox">
          <div class="team_image">
            <a href="#">png</a>
          </div>
          <div class="name">
            <a href="#">test</a>
          </div>
          <div class="detail">
            <div class="title">
              <a href="#">チームを募集しています</a>
            </div>
          </div>
        </div>
      </div>

       <div class="topplayer_list_card col">
        <div class="topbox">
          <div class="team_image">
            <a href="#">png</a>
          </div>
          <div class="name">
            <a href="#">test</a>
          </div>
          <div class="detail">
            <div class="title">
              <a href="#">チームを募集しています</a>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100"></div>

       <div class="topplayer_list_card col">
        <div class="topbox">
          <div class="team_image">
            <a href="#">png</a>
          </div>
          <div class="name">
            <a href="#">test</a>
          </div>
          <div class="detail">
            <div class="title">
              <a href="#">チームを募集しています</a>
            </div>
          </div>
        </div>
      </div>

       <div class="topplayer_list_card col">
        <div class="topbox">
          <div class="team_image">
            <a href="#">png</a>
          </div>
          <div class="name">
            <a href="#">test</a>
          </div>
          <div class="detail">
            <div class="title">
              <a href="#">チームを募集しています</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a href="#">もっとみる</a>
  </>
</div>

