<footer class="py-5 bg-dark">
  <div class=twitter-share>
  <%= link_to "http://twitter.com/share?url=#{request.url}/&text=LET'SVOLEYBALLでバレーボール友達とつながろう！/&hashtags=バレーボール" do%>
    <i class="fab fa-twitter"></i> <span>Let's Share</span>
  <%end%>
  </div>
  <div>
    <p class="m-0 text-center text-white"> &copy;LET'S VOLLEY BALL since 2020</p>
  </div>
</footer>
