<ul class="home_content_sidemenu">
  <li>
    <%= link_to "ホーム", root_path %>
  </li>

  <li>
    <a href="#"><i class="#"></i>メッセージ</a>
  </li>
  <li>
    <%= link_to "プロフィール", users_path %>
  </li>

  <li>
    <a href="#"><i class="#"></i>タイムライン</a>
  </li>
</ul>

<p class="small">
  <a href="#">チーム情報の登録はこちらから</a>
</p>
<p class="small">
  <a href="#">プレイヤー情報の登録はこちらから</a>
</p>