<ul class="home_content_sidemenu">
  <li>
    <%= link_to "ホーム", root_path %>
  </li>
  <hr>
  <li>
     <%= link_to "メッセージ", rooms_path%>
  </li>
   <hr>
  <li>
    <% if current_user %>
      <%= link_to "プロフィール", user_path(current_user.id) %>
    <% else %>
      <%= link_to "プロフィール", root_path %>
    <% end %>
  </li>
   <hr>
  <li>
    <a href="#"><i class="#"></i>タイムライン</a>
  </li>
   <hr>
</ul>

<p class="small">
  <a href="#">チーム情報の登録はこちらから</a>
</p>
<p class="small">
  <a href="#">プレイヤー情報の登録はこちらから</a>
</p>