<% provide(:title,"ホーム")%>
<h1>Let's Volley Ball !!!</h1>

<div class="container">
    <p>このサイトは<br>「バレーボールを続けたいけど周りにチームがない。バレーボールをしている知り合いが周りにいない。」<br>
「チームを作ったのはいいけどポジションに合う人材が足りない。」<br>
バレーボールをするための環境を求めるプレイヤーと人材が不足しているチームを繋ぐマッチングサイトです。
</p>
</div>