@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// ログイン画面
.container-login {
  @extend .container-fluid; 
  background-image : url( background_img.jpg);
  background-size: cover;
    
}
body{
  color: seashell;
}
.twitter-btn{
  background-color:#00acee;
}
.facebook-btn{
  background-color:#3B5998;
}
.my-white{
  color: white;
}

// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
  height: auto;
}

.alert-alert {
  @extend .alert-danger;
}

// メインスタイル
h3{
  font-weight: bold;
}
.top_title{
  h1{
    font-size: 5rem;
  }
  text-align: center;
  color: #f5f5f5;/*文字色*/
  padding: 3em 0 20rem 0;/*上下の余白*/
  border-bottom: solid 3px#f5f5f5;/*下線*/
  small{
    font-size: 1rem;
  }
}
.sub_title{
  text-align: center;
  color: #f5f5f5;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #f5f5f5;/*上線*/
  border-bottom: solid 3px#f5f5f5;/*下線*/
}
.details{
  color: #000;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 0;
  background-image: -webkit-linear-gradient(135deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
  background-image: linear-gradient(-45deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
  a{
    text-align: center;
  }
  .details:hover {
     text-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
  }
}
.wrap {
     overflow: hidden;
 }
.user{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  color: rgba(0, 69, 212, 0.47);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  a{
   color: rgba(255, 255, 255, 0.5);
  }
}
.twitter-share{
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #1da1f3;
  font-size: 25px;
  text-decoration: none;
  :hover {
    color:#88daff;
    transition: .5s;
  }
}
  .fab-twitter{
    line-height: 50px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
    color: #FFF;
    background: #1da1f3;
  }

  footer{
    text-align: center;
  }

//メッセージ画面のレイアウト
.home_content_message{
  background-image: none;
}
.chat-hukidashi-left{
  position: relative;
  display: block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  :before{
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
  }
}
.chat-hukidashi-right{
  position: relative;
  display: block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  :before{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #e0edff;
  }
}
.home_content_message{
  background-color: darken($color: #000000, $amount: 0);
}
//プロフィール画面のレイアウト
.profile-title{
  text-align: center;
  
}
.profile-image{
  text-align: center;
}
.profile-text{
  text-align: center;
}
.table-responsive-md{
  margin: auto;
}
.profile-stats{
  text-align: center;
}

//ホーム画面左部分のレイアウト

.home_content_left {
  background-color: rgb(202, 196, 207);
  li{
    list-style: none;
  }
}
.info-tag{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 3px #668ad8;
  border-left: solid 3px #668ad8;
  color: #668ad8;
  transition: .4s;
}

//ホーム画面右部分のレイアウト

.home_content_right{
  background-image : url( background_img.jpg);
  background-size: contain;

}

//user_indexの各カードレイアウト
.card{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(#53565d 0%, black  100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #53565d;
  a{color: whitesmoke;}
}
.position-name{
  color: darken($color: #000000, $amount: 0);
}
.position-name{
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #00bcd4;
  border-top: solid 3px #00a3d4;
  border-bottom: solid 3px #00a3d4;
  transition: .4s;
}

.card-img-top{
  height: 40%;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     
  color: #696969;   
}
header,footer{
  width: 100%;
}
/* タイムラインのレイアウト　*/
.home_content_right-timeline{
  background-image : url( background_img.jpg);
  background-size: cover;
}
.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    display: block;
    margin-left: 60px;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px ;
    color: white;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
}

.users.follow {
  padding: 0;
}
//フォローユーザー画面
.home_content_follow{
  background-color: darken($color: #000000, $amount: 0);
}

/*-- スマホ版表示CSS  --*/
@media screen and (max-width:576px){
  .home_content_left{
    margin: 0,20px;  
  }

  .home_content_right{
    background-image : url( background_img.jpg);
    background-size: contain;

  }
  .home_content_right-timeline{
    background-image : url( background_img.jpg);
    background-size: contain;

  }

  .card{
    margin-left: 10%;
    margin-right: 10%;
  }
}